<div class="mb-container">
    <div class="mb-wrapper">
        
      <form [formGroup]="loginForm" >
         <div class="mb-title">
            <span>LOGIN</span>
         </div>

         <div class="form-group mb-user-pass-section">
            <label for="Email" >Email <span>*</span></label>
            <input class="form-control" type="email"
            [(ngModel)]="loginMngData.email" name="email"
            placeholder="" formControlName="Email" id="Email">
         </div>

         <div class="form-group mb-user-pass-section">
            <label for="Password">Password <span>*</span></label> 
            <input class="form-control" type="password"
            [(ngModel)]="loginMngData.password" name="password"
            placeholder="" formControlName="Password" id="Password">
         </div>

               <span *ngIf="!loginForm.valid && loginForm.touched" 
                   class="help-block m-2">{{alertforDom}}
                </span> <br>

          <div class="mb-login-btn-section">
            <app-button [hasColor]="true" [text]="'LOGIN'" 
            (click)="Login()"></app-button>            
          </div>
       </form>             

        <div class="mb-no-account-content">
            <span>Don’t have an account?</span>
        </div>
        <div class="mb-register-btn-section space-btwn">
            <app-button routerLink="/signup" [hasColor]="false" 
            [text]="'REGISTER'"></app-button>
        </div>
    </div>
</div>