<div class="mb-container">
    <div class="mb-wrapper">
        
      <form [formGroup]="loginForm" (ngSubmit)="Login()">
         <div class="mb-title">
            <span>LOGIN</span>
         </div>

         <div class="form-group mb-user-pass-section">
            <label for="Email" >Email</label>
            <input class="form-control" type="email"
            placeholder="" formControlName="Email" id="Email">
         </div>

         <div class="form-group mb-user-pass-section">
            <label for="Password">Password</label> 
            <input class="form-control" type="password"
            placeholder="" formControlName="Password" id="Password">
         </div>

               <span *ngIf="!loginForm.valid && loginForm.touched" 
                   class="help-block m-2"> Please Enter Valid Credential
                </span>

          <div class="mb-login-btn-section space-btwn">
            <app-button routerLink="/home" [hasColor]="true" [text]="'LOGIN'" (click)="Login()"></app-button>
            <span>Forogt Password</span>
          </div>
       </form>             

        <div class="mb-no-account-content">
            <span>Don’t have an account?</span>
        </div>
        <div class="mb-register-btn-section space-btwn">
            <app-button routerLink="/signup" [hasColor]="false" [text]="'REGISTER'"></app-button>
        </div>
    </div>
</div>