<div class="mb-container">
    <div class="mb-wrapper">
        <div class="mb-title">
            <span>SIGN-UP</span>
        </div>
        <div class="mb-user-pass-section">
            <span>Email</span> <br>
            <input type="email">
        </div>
       <div class="mb-signup-name space-btwn">
        <div class="mb-user-pass-section">
            <span>First Name</span> <br>
            <input type="text">
        </div>
        <div class="mb-user-pass-section">
            <span>Last Name</span> <br>
            <input type="text">
        </div>
       </div>
        <div class="mb-user-pass-section">
            <span>Password</span> <br>
            <input type="password">
        </div>
        <div class="mb-signup-address space-btwn">
            <div class="mb-user-pass-section">
                <span>Address</span> <br>
                <input type="text">
            </div>
            <div class="mb-user-pass-section">
                <span>Birth Date</span> <br>
                <input type="date">
            </div>
        </div>
        <div class="mb-user-pass-section">
            <span>Company Name</span> <br>
            <input type="text">
        </div>
        <div class="mb-register-btn-section">
            <app-button routerLink="/login" [hasColor]="false" [text]="'REGISTER'"></app-button>
        </div>
    </div>
</div>